.DS_Store
.vercel
pakcomposer/comptoe/debug/
pakcomposer/.vs/
pakcomposer/bin/
pakcomposer/Debug/
pakcomposer/obj/
TOD1RSCE/.vs/
TOD1RSCE/bin/
TOD1RSCE/Debug/
TOD1RSCE/obj/
TOD1RSCE/obj/TableModule/bin/
TOD1RSCE/obj/TableModule/obj/
